


h1 {
      background-color: #000;
      color: #fff;
  }

div {
      background-color: #bababa;
  }

table#game_board{
    margin: auto;
    border-style: solid;
    border-width: 10px;
    border-color: #ebebeb;
  }

table#game_board td{
    padding: 5px;
  }

#messages p{
  margin:0px;

}

td.hovered_over:hover {
  background:url('/Users/hayleylwilliams/reversi-game/public/assets/images/hover.gif'), rgb(0,255,0);
  background-size: 100% 100%;
}
